# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

run-data/logs
run/logs
run/config
run-data/config

# Files from Forge MDK
forge*changelog.txt
